@import "tailwindcss";

.blue-metal-card {
  @apply rounded-4xl shadow-lg text-white;
  background-image: linear-gradient(45deg, #36566d, #5590c0, #36566d);
  background-size: 200% 200%;
  animation: metal-shimmer 6s ease-in-out infinite;
}

.blue-metal {
  @apply shadow-xl text-white;
  background-image: linear-gradient(45deg, #36566d, #5590c0, #36566d);
  background-size: 200% 200%;
  animation: metal-shimmer 6s ease-in-out infinite;
}

.dark-metal-card {
  @apply rounded-4xl shadow-md text-white;
  background-image: linear-gradient(45deg, #030b16, #36566d, #030b16);
  background-size: 200% 200%;
  animation: metal-shimmer 6s ease-in-out infinite;

}

@keyframes metal-shimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
